//List Page CSS
.list-page {
  ion-item-sliding.track-ionic ion-label {
    border-left: 2px solid var(--ion-color-primary);
    padding-left: 10px;
  }
  ion-item-sliding.track-angular ion-label {
    border-left: 2px solid var(--ion-color-angular);
    padding-left: 10px;
  }
  ion-item-sliding.track-communication ion-label {
    border-left: 2px solid var(--ion-color-communication);
    padding-left: 10px;
  }
  ion-item-sliding.track-tooling ion-label {
    border-left: 2px solid var(--ion-color-tooling);
    padding-left: 10px;
  }
  ion-item-sliding.track-services ion-label {
    border-left: 2px solid var(--ion-color-services);
    padding-left: 10px;
  }
  ion-item-sliding.track-design ion-label {
    border-left: 2px solid var(--ion-color-design);
    padding-left: 10px;
  }
  ion-item-sliding.track-workshop ion-label {
    border-left: 2px solid var(--ion-color-workshop);
    padding-left: 10px;
  }
  ion-item-sliding.track-food ion-label {
    border-left: 2px solid var(--ion-color-food);
    padding-left: 10px;
  }
  ion-item-sliding.track-documentation ion-label {
    border-left: 2px solid var(--ion-color-documentation);
    padding-left: 10px;
  }
  ion-item-sliding.track-navigation ion-label {
    border-left: 2px solid var(--ion-color-navigation);
    padding-left: 10px;
  }
}


//Login Page Css
#login-page, #signup-page, #support-page {
  .login-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }

  .login-logo img {
    max-width: 150px;
  }

  .list {
    margin-bottom: 0;
  }

}

//Menu
.icon-custom {
    color: #45cc9fdb;
}
.button-inner {
  background: #45cc9fdb;
}

//Custom CSS
.custom-toolbar {
  --background: #45cc9fdb;
}
.c-white {
  color: var(--ion-color-light);
}
.custom-icon {
  color: #45cc9fdb;
}
.custom-list-header {
  --background: #45cc9fdb;
}
.custom-search {
  --background: #fff;
}
.custom-item {
  --background: #45cc9fdb;
    color: #fff;
}


.button-container-img img {
  height: 2rem;
  border-radius: 10px;
}
.addcourse-page ion-item {
  --inner-padding-end: 16px;
  --padding-start: 16px;
}
.list-withdrawal-page ion-item {
  --inner-padding-end: 16px;
  --padding-start: 16px;
}
.list-profile-page ion-item{
  --inner-padding-end: 16px;
  --padding-start: 16px;
}
